<table>
    <tr>
        <td>제목</td>
        <td>작성자</td>
        <td>작성일</td>
    </tr>
    <% for(let post of posts) { %>
        <tr>
            <td><%= post.title %></td>
            <td><%= post.writer %></td>
            <td><%= post.createdAt %></td>
            <td><button ><a href="/board/<%=post.id%>">수정하기</a></button></td>
            
            <form action="/board/<%=post.id%>?_method=DELETE" method="post">
                <td><input type="submit" value="삭제하기"></input></td>
            </form>
        </tr>
    <% } %>
</table>